.SideBarItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;
  max-width: 160px;
  position: relative;

  .afterItem {
    display: inline-block;
    position: absolute;
    right: -2rem;
    width: 1.5rem;
    height: 3rem;
    background-color: var(--main-color);
    border-radius: 0 100px 100px 0;
  }

  a {
    color: #b3b6b7;
    text-decoration: none;
    transition: color 0.5s;
  }

  &:hover {
    cursor: pointer;

    a {
      color: #5b2c6f;
    }
  }

  @media screen and (max-width: 900px) {
    margin-right: 2rem;
    text-align: center;

    .afterItem {
      position: absolute;
      left: 0;
      bottom: calc(0% - 10%);
      width: 110%;
      height: 3px;
      background-color: var(--main-color);
      border-radius: 200px;
    }
  }
}
