:root {
  --main-color: #212f3c;
  --inactive-color: #b3b6b7;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased !important;
  font-family: "Nunito", sans-serif;
  color: var(--main-color);

  a {
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);

    &:hover {
      color: purple;
    }
  }
}
